 <div class="HomeDiv">
    <b><span style="color:red">{{errorMsg}}</span></b>
<table class='CreateRoomtable' border="0">
        <tr>
            <td>
                Your Room Code is 
            </td>
            <td>
                {{roomCode}}
            </td>
        </tr>
        <tr>
            <td>
                Enter Your Name  
            </td>
            <td>
                <input type="text" [(ngModel)]="Name" class='InputBox' required>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)="joinRoom()" class="Btn" style="width:100px">Join</button>
            </td>
        </tr>
    </table>

</div>